.App {
  font-family: sans-serif;
  text-align: center;
}

.todo {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.todo_content{
  display: flex;
  gap: 8px;
}
.btn{
  color: white;
  border:none;
  padding-inline: 10px;
  padding-block: 5px;
  font-weight: bold;
  cursor: pointer;
}
.edit_btn{
  background-color: blue;
}
.edit_btn:hover{
  background-color: black;
}

.delete_btn{
  background-color: red;
}
.delete_btn:hover{
  background-color: black;
}
.create_btn{
  background-color: green;
}
.create_btn:hover{
  background-color: black;
}